<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Charles Babbage</h1>
    <img width= "320" src="/img/babbage.jpg" alt="">
    <p>Charles Babbage fue un matemático y científico de la computación británico.​ Diseñó y desarrolló una 
        calculadora mecánica capaz de calcular tablas de funciones numéricas por el método de diferencias.</p>
</body>
</html>