<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Tim Berners Lee</h1>
    <img src="/img/Sir_Tim_Berners-Lee.jpg" alt="Tim">
    <p>Tim Berners-Lee nació en el sudoeste de Londres, Reino Unido, el 8 de junio de 1955. Sus padres eran
         Conway Berners-Lee y Mary Lee Woods.​ Sus padres eran matemáticos británicos y formaron parte del
          equipo que construyó el Manchester Mark I. Por ello, la orientación profesional le
           venía de familia, ya que sus padres se habían conocido en el proyecto de desarrollo del Ferranti 
           Mark I, el primer ordenador comercial con programa almacenado desarrollado por la empresa Ferranti 
           en marzo de 1951.</p>
</body>
</html>