<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Arthur C Clarke</h1>
    <img src="/img/Arthur_C_Clarke.jpg" alt="Arthur">
    <P>Clarke nació en Minehead, Somerset. Ya de pequeño mostró su fascinación por la astronomía cuando, con
         un telescopio casero, dibujó un mapa de la Luna. Terminados sus estudios secundarios en 1936, se
          trasladó a Londres. Durante la Segunda Guerra Mundial, sirvió en la Royal Air Force (Real Fuerza 
          Aérea) como especialista en radares, involucrándose en el desarrollo de un sistema de defensa por
           radar, y ejerciendo como instructor de la naciente especialidad. En 1945, concluida la guerra, 
           publicó su artículo técnico Extra-terrestrial Relays en la revista especializada Wireless World,
            en el cual sentó las bases de los satélites artificiales en órbita geoestacionaria (llamada, en
             su honor, órbita Clarke), una de sus grandes contribuciones a la ciencia del siglo xx. Este
              trabajo le valió numerosos premios, becas y reconocimientos.</P>
</body>
</html>