<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>William Rowan Hamilton</h1>
    <img src="/img/William_Rowan_Hamilton.jpg" alt="William">
    <p>Hamilton fue el cuarto de los nueve hijos de Sarah Hutton (1780-1817) y de Archibald Hamilton
         (1778-1819), que vivían en Dublín, en el 29 de Dominick Street.El padre de Hamilton, que era
          dublinés, trabajaba como abogado. A la edad de tres años, Hamilton había sido enviado a vivir con
           su tío, James Hamilton, un graduado del Trinity College que dirigía una escuela en la localidad 
           de Talbots Castle, en Trim (Condado de Meath).</p> 
</body>
</html>