<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Grace M Hopper</h1>
    <img src="/img/Grace_M._Hopper.jpg" alt="Grace">
    <p>Grace Brewster Murray nació en Nueva York (EE. UU.). Grace era bisnieta de Alexander Russell, un 
        almirante de la Armada de los Estados Unidos. Él fue su modelo y su héroe personal. También era nieta
         de un ingeniero civil, John Van Horne. Sus padres fueron Walter Fletcher Murray, corredor de seguros, 
         y Mary Campbell Van Horne. Desde muy pequeña demostró aptitudes para las ciencias y la matemática. 
         Recibió siempre el apoyo de su abuelo y de su padre para que las estudiara, pues quería que sus hijas
          tuvieran las mismas oportunidades que su hijo varón. También le atrajo mucho cualquier tipo de
           dispositivo mecánico, tanto fue así, que con 7 años desarmó todos los relojes de su casa para ver
            si podía entender cómo funcionaban. En 1930 se casa con Vincent Foster Hopper, un doctor en
             literatura en lengua inglesa que durante muchos años fue presidente del departamento de inglés
              de la Universidad de Nueva York. Vincent y Grace se divorciaron en 1945 sin tener hijos.</p>
</body>
</html>